html {
    font-size: 10px;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    /* min-height: 100vh; */
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100rem;
    height: 80rem;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    /* border: 10px solid #fff; */
}

.key {
    position: absolute;
    border: .4rem solid black;
    border-radius: 50%;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    height: 10rem;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

/* Position Layout */

/* A */
.key:nth-child(1) {
    top: 20rem;
    left: 35rem;
}

/* S */
.key:nth-child(2) {
    top: 40rem;
    left: 13rem;
}

/* D */
.key:nth-child(3) {
    top: 50rem;
    left: 42rem;
}

/* F */
.key:nth-child(4) {
    top: 27rem;
    left: 22rem;
}

/* G */
.key:nth-child(5) {
    top: 20rem;
    left: 50rem;
}

/* H */
.key:nth-child(6) {
    top: 27rem;
    left: 63rem;
}

/* J */
.key:nth-child(7) {
    top: 47rem;
    left: 27rem;
}

/* K */
.key:nth-child(8) {
    top: 35rem;
    left: 50rem;
}

/* L */
.key:nth-child(9) {
    top: 40rem;
    left: 71rem;
}

/* M */
.key:nth-child(10) {
    top: 47rem;
    left: 57rem;
}

/* I */
.key:nth-child(11) {
    top: 35rem;
    left: 35rem;
}



/* Position Layout */


.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}