html {
    font-size: 10px;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    /* min-height: 100vh; */
    align-items: center;
    justify-content: center;

    position: relative;
    width: 90vw;
    height: 60vh;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    /* border: 10px solid #000000; */
}

.key {
    position: absolute;
    border: .4rem solid black;
    border-radius: 50%;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    height: 10vw;
    width: 10vw;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
    user-select: none;
}

/* Position Layout */

/* A */
.key:nth-child(1) {
    top: 9%;
    left: 33%;
    height: 6vw;
    width: 6vw;
}

/* S */
.key:nth-child(2) {
    top: 50%;
    left: 25%;
    height: 5vw;
    width: 5vw;
}

/* D */
.key:nth-child(3) {
    top: 50%;
    left: 42%;
}

/* F */
.key:nth-child(4) {
    top: 27%;
    left: 27%;
    height: 5vw;
    width: 5vw;
}

/* G */
.key:nth-child(5) {
    top: 9%;
    left: 41%;
    height: 6vw;
    width: 6vw;
}

/* H */
.key:nth-child(6) {
    top: 27%;
    left: 59%;
    height: 7vw;
    width: 7vw;
}

/* J */
.key:nth-child(7) {
    top: 61%;
    left: 32%;
    height: 7vw;
    width: 7vw;
}

/* K */
.key:nth-child(8) {
    top: 21%;
    left: 48%;
    height: 8vw;
    width: 8vw;
}

/* L */
/* .key:nth-child(9) {
    top: 40%;
    left: 71%;
} */

/* M */
.key:nth-child(9) {
    top: 57%;
    left: 55%;
    height: 8vw;
    width: 8vw;
}

/* I */
.key:nth-child(10) {
    top: 33%;
    left: 35%;
    height: 7vw;
    width: 7vw;
}



/* Position Layout */


.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}


/* Media Query */

@media screen and (max-width: 1250px) {

    html {
        font-size: 50%;
    }

    .key {
        font-size: 1.2rem;
        height: 12vw;
        width: 12vw;
        margin: 1
    }
}

@media screen and (max-width: 950px) {

    html {
        font-size: 35%;
    }

    .key {
        font-size: 1.2rem;
        height: 12vw;
        width: 12vw;
        margin: 1
    }
}

@media screen and (max-width: 550px) {

    html {
        font-size: 20%;
    }

    .key {
        font-size: 1.2rem;
        height: 12vw;
        width: 12vw;
        margin: 1
    }
}


/* @media screen and (max-width: 260px) {
    html {
        font-size: 40%;
    }

    .keys {
        width: 90vw;
        height: 30vh;
        top: 15%;
    }

    .key {
        font-size: 1rem;
        height: 25vw;
        width: 25vw;
        margin: 1.5vw;
    }
} */